* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
$glass : rgba($color: #000000, $alpha: .2);
$green : #7FA800;
$white : #fff;
$animationSpeed: 40s;
$color-white: #ffffff;
$color-light: #f4f4f4;
$color-darks: #454545;
$icon : #565353;
$dark-blue: #1F2937;
$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$yellow : #FFD337;
$box-shadow_2: 0 0 6px rgba(0, 0, 0, 0.16);
$border-radius : 1rem;

a {
    text-decoration: none;
    color: #000000;
}

.btn_1 {
    font-family: 'Electrolize', sans-serif;
    border: 5px solid $green;
    padding: .6rem 2rem;
    border-radius: $border-radius;
    background: $white;
    font-size: 1.3rem;

    &:hover {
        background: $dark-blue;
        transform: scale(1.1);
        transition-duration: .2s;
        color: $white;
    }
}

// .btn_con{
//     display: flex;
//     justify-content: center;
//     margin: 2rem;
//     .btn_r{
//         width: 15rem;
//         height: 4rem;
//         border: 5px solid $green;
//         font-family: 'Electrolize', sans-serif;
//         position: relative;
//         border-radius: $border-radius;
//         display: flex;
//         place-items: center;
//         span{
//             width: calc(100% / 6);
//             margin: .2rem;
//             height: 100%;
//             background: $green;
//         }
//         .button{
//             position: absolute;
//         }


//     }

// }
// .btn_2{
//     border: 5px solid $green;
//     padding: .6rem 2rem;
//     border-radius: $border-radius;
//     background: $white;
//     font-size: 1.3rem;
// }


.btn_b {
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 15px;

    
}

.stripe-btn {
    height: 4rem;
    position: relative;
    padding: 1rem 2rem;
    margin: 1rem;
    border: 5px solid $icon;
    border-radius: $border-radius;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;

    span {
        color: $green;
        z-index: 10000;
        font-weight: 700;
        -webkit-text-stroke: 1px #fff;
        font-size: 2.3rem;

    }
}


.stripes {
    // --stripes-position: 0.3ch;
    content: "";
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 1rem);
    height: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
    z-index: -1;
}

.stripes>i {
    content: "";
    height: calc(100% - .8rem);
    width: calc(100% / 6 - 5px);
    background: $icon;
    border-radius: .2rem;
}

.i-2,
.i-3,
.i-4,
.i-5,
.i-6 {
    opacity: 0;
}

.i-2 {
    animation: charge2 3s linear infinite;
    // animation-delay: 2s;
}

.i-3 {
    animation: charge3 3s linear infinite;
    // animation-delay: 3s;
}

.i-4 {
    animation: charge4 3s linear infinite;
    // animation-delay: 4s;
}

.i-5 {
    animation: charge5 3s linear infinite;
    // animation-delay: 5s;
}

.i-6 {
    animation: charge6 3s linear infinite;
    // animation-delay: 6s;
}

@keyframes charge2 {
    0% {
        opacity: 0;
    }

    9% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes charge3 {
    0% {
        opacity: 0;
    }

    14% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes charge4 {
    0% {
        opacity: 0;
    }

    19% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes charge5 {
    0% {
        opacity: 0;
    }

    24% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes charge6 {
    0% {
        opacity: 0;
    }

    29% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.btry {
    position: absolute;
    height: calc(100% - 1rem);
    width: 1.2rem;
    background: $icon;
    border-radius: 0 .5rem .5rem 0;
    top: 50%;
    right: -1.2rem;
    transform: translate(0, -50%);

}





.heading {
    width: 100%;
    margin: 2rem 0 0 0;
    text-align: center;
    color: $green;
    font-family: 'Electrolize', sans-serif;
    font-size: 4rem;
}

section {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 0 0;
}