@import url(https://fonts.googleapis.com/css?family=Exo:100);
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #000000; }

.btn_1 {
  font-family: 'Electrolize', sans-serif;
  border: 5px solid #7FA800;
  padding: .6rem 2rem;
  border-radius: 1rem;
  background: #fff;
  font-size: 1.3rem; }
  .btn_1:hover {
    background: #1F2937;
    transform: scale(1.1);
    transition-duration: .2s;
    color: #fff; }

.heading {
  width: 100%;
  margin: 2rem 0 0 0;
  text-align: center;
  color: #7FA800;
  font-family: 'Electrolize', sans-serif;
  font-size: 4rem; }

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 0 0; }

.zev {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .zev .wave,
  .zev .wave::before,
  .zev .wave::after,
  .zev .wave_2,
  .zev .wave_2::before,
  .zev .wave_2::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250vw;
    height: 250vw;
    margin-left: -125vw;
    transform-origin: 50% 50%;
    background-color: transparent;
    border-radius: 38% 42%;
    box-shadow: inset 0 0 10vw rgba(0, 0, 0, 0.1);
    animation: spin 16s infinite linear;
    mix-blend-mode: multiply; }
  .zev .wave::before {
    width: 105%;
    height: 95%;
    margin-top: -125vw;
    transform-origin: 49% 51%;
    border-radius: 40% 38%;
    box-shadow: inset 0 0 10vw rgba(0, 0, 0, 0.1);
    animation: spin 13s infinite linear; }
  .zev .wave::after {
    width: 102%;
    height: 98%;
    margin-top: -125vw;
    transform-origin: 51% 49%;
    border-radius: 48% 42%;
    box-shadow: inset 0 0 10vw rgba(0, 0, 0, 0.1);
    animation: spin 10s infinite linear; }
  .zev .wave_2::before {
    width: 105%;
    height: 95%;
    margin-top: -140vw;
    transform-origin: 49% 51%;
    border-radius: 40% 38%;
    box-shadow: inset 0 0 10vw rgba(0, 0, 0, 0.1);
    animation: spin 13s infinite linear; }
  .zev .wave_2::after {
    width: 97%;
    height: 98%;
    margin-top: -130vw;
    transform-origin: 51% 49%;
    border-radius: 48% 42%;
    box-shadow: inset 0 0 10vw rgba(0, 0, 0, 0.1);
    animation: spin 10s infinite linear; }
@keyframes spin {
  100% {
    transform: rotate(360deg); } }
  .zev .org_name {
    padding: 1rem 2rem;
    display: flex;
    align-items: center; }
    .zev .org_name .zev_name {
      color: #7FA800;
      margin: 1rem;
      font-family: 'Electrolize', sans-serif;
      font-size: 3.5rem;
      line-height: .7;
      position: relative; }
      .zev .org_name .zev_name span {
        font-size: 2.2rem; }
      .zev .org_name .zev_name::before {
        content: "";
        position: absolute;
        width: 3px;
        height: 100%;
        background: #7FA800;
        left: -.8rem; }
  .zev .org_works {
    position: absolute;
    top: 30%;
    left: 50%; }
    .zev .org_works h1 {
      color: #565353;
      font-size: 55px;
      padding: 15px;
      font-family: sans-serif; }
    .zev .org_works span {
      border-right: 2px solid #7FA800;
      font-size: 55px;
      font-family: sans-serif;
      color: #7FA800; }
  .zev .numbers {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    padding: 1.5rem 0;
    backdrop-filter: blur(20px);
    display: flex;
    font-family: 'Electrolize', sans-serif; }
    .zev .numbers .our_exp {
      width: calc(100% / 3);
      color: #565353;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .zev .numbers .our_exp h1 {
        font-size: 3rem; }
      .zev .numbers .our_exp p {
        font-size: 2rem;
        margin: 0; }

.Our_Services .services {
  max-width: 1140px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .Our_Services .services .service_image .circle {
    position: relative;
    margin: 2rem; }
    .Our_Services .services .service_image .circle .circle_img {
      width: 100%; }
    .Our_Services .services .service_image .circle:hover {
      transform: scale(1.1);
      cursor: pointer;
      transition-duration: .5s; }
  .Our_Services .services .service_image .img_and_name {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .Our_Services .services .service_image .img_and_name img {
      width: 50%; }
    .Our_Services .services .service_image .img_and_name h4 {
      color: #7FA800;
      font-size: 1.2rem;
      font-family: 'Electrolize', sans-serif; }
.Our_Services .modal {
  --bs-modal-width: 80%; }
  .Our_Services .modal .modal-dialog .modal-content .modal-header {
    justify-content: center !important; }
    .Our_Services .modal .modal-dialog .modal-content .modal-header h1 {
      color: #7FA800;
      font-weight: 700;
      font-size: 1.7rem;
      text-align: center; }
  .Our_Services .modal .modal-dialog .modal-content .modal-body .wrap {
    max-width: 900px;
    margin: 0 auto; }
  .Our_Services .modal .modal-dialog .modal-content .modal-body .glide__slide {
    border: 1px solid black;
    line-height: 100px;
    margin: 0;
    text-align: center; }
  .Our_Services .modal .modal-dialog .modal-content .modal-footer {
    justify-content: center !important; }

.organisations_we_serve .org_slider {
  width: 100%; }
  .organisations_we_serve .org_slider .glide {
    width: 1144px; }
    .organisations_we_serve .org_slider .glide .glide__track ul li {
      padding: 5px; }
      .organisations_we_serve .org_slider .glide .glide__track ul li .content_box {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
        min-height: 400px; }
        .organisations_we_serve .org_slider .glide .glide__track ul li .content_box img {
          margin-top: 1rem; }
        .organisations_we_serve .org_slider .glide .glide__track ul li .content_box .org_name {
          font-family: 'Electrolize', sans-serif;
          color: #7FA800;
          margin-top: 1rem;
          font-size: 1.5rem; }
        .organisations_we_serve .org_slider .glide .glide__track ul li .content_box p {
          margin: 1rem;
          text-align: justify;
          color: #565353; }
.organisations_we_serve .glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  opacity: 1;
  transform: translateY(-50%); }
  .organisations_we_serve .glide__arrow .arrow_icon i {
    color: #565353;
    font-size: 4rem; }

.deal_vehicles {
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  /* Main styles */
  color: #999;
  -webkit-animation: bg-scrolling-reverse .92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse .92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse .92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse .92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  /* Animations */ }
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px; } }
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px; } }
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px; } }
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px; } }
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px; } }
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px; } }
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px; } }
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px; } }
  .deal_vehicles .vehicles_info {
    width: 12rem;
    height: 12rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px #888888;
    border-radius: 1rem; }
    .deal_vehicles .vehicles_info:hover {
      transform: scale(1.1);
      transition-duration: .5s; }
    .deal_vehicles .vehicles_info .img_name {
      display: grid;
      place-items: center; }
      .deal_vehicles .vehicles_info .img_name img {
        width: 90%; }
      .deal_vehicles .vehicles_info .img_name h4 {
        color: #7FA800;
        font-size: 1.3rem; }

.testimonials_con {
  display: flex;
  width: 100%; }
  .testimonials_con .customersrepeat {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .testimonials_con .customersrepeat .img_on_text {
      width: 85%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .testimonials_con .customersrepeat .img_on_text img {
        border-radius: 1rem;
        max-width: 536px; }
      .testimonials_con .customersrepeat .img_on_text .text {
        position: absolute;
        font-family: 'Electrolize', sans-serif;
        text-align: center; }
        .testimonials_con .customersrepeat .img_on_text .text h2 {
          font-size: 10em;
          line-height: 1;
          color: #fff; }
        .testimonials_con .customersrepeat .img_on_text .text span {
          font-size: 3rem;
          color: #fff; }
  .testimonials_con .testimonial_slid {
    width: 50%; }
    .testimonials_con .testimonial_slid .cards {
      display: grid;
      place-items: center;
      height: 26rem;
      margin-right: 28%; }
      .testimonials_con .testimonial_slid .cards .outer {
        display: flex;
        align-items: center;
        justify-content: center; }
        .testimonials_con .testimonial_slid .cards .outer .card {
          background: #fff;
          padding: 1rem;
          max-width: 30rem;
          border-radius: 1rem;
          position: absolute;
          pointer-events: none;
          opacity: 0;
          animation: animate 15s infinite linear;
          animation-delay: calc(3s * var(--delay));
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.16); }
          .testimonials_con .testimonial_slid .cards .outer .card .testimonial p {
            font-size: .9rem;
            color: #565353;
            opacity: .9;
            margin-bottom: 0; }
          .testimonials_con .testimonial_slid .cards .outer .card .testimonial .org_rating {
            display: flex;
            justify-content: space-between;
            align-items: center; }
            .testimonials_con .testimonial_slid .cards .outer .card .testimonial .org_rating p {
              font-family: 'Electrolize', sans-serif;
              font-size: 1.2rem;
              color: #565353;
              opacity: .5;
              font-weight: 800; }
            .testimonials_con .testimonial_slid .cards .outer .card .testimonial .org_rating span {
              font-size: 1.2rem;
              color: #FFD337; }
              .testimonials_con .testimonial_slid .cards .outer .card .testimonial .org_rating span i {
                margin: 0 .5rem; }
    .testimonials_con .testimonial_slid .outer:hover .card {
      animation-play-state: paused; }
    .testimonials_con .testimonial_slid .cards .card:last-child {
      animation-delay: calc(-3s * var(--delay)); }
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.8); }
  5%,
            20% {
    opacity: 0.4;
    transform: translateY(100%) translateX(0) scale(0.9); }
  25%,
            40% {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0%) translateX(4rem) scale(1); }
  45%,
            60% {
    opacity: 0.4;
    transform: translateY(-100%) translateX(0) scale(0.9); }
  65%,
            100% {
    opacity: 0;
    transform: translateY(-100%) scale(0.8); } }
footer {
  width: 100%; }
  footer .contact_address_2 {
    display: none; }
  footer .contact_address_1 {
    width: 100%;
    display: flex; }
    footer .contact_address_1 .address {
      order: 1; }
    footer .contact_address_1 .blank {
      order: 2; }
    footer .contact_address_1 .contact {
      order: 3; }
    footer .contact_address_1 .address,
    footer .contact_address_1 .contact,
    footer .contact_address_1 .blank {
      width: calc(100% / 3);
      margin: 1rem 0;
      display: grid;
      place-content: center; }
      footer .contact_address_1 .address h3,
      footer .contact_address_1 .contact h3,
      footer .contact_address_1 .blank h3 {
        color: #7FA800;
        font-size: 1.3rem;
        margin: .5rem; }
        footer .contact_address_1 .address h3 i,
        footer .contact_address_1 .contact h3 i,
        footer .contact_address_1 .blank h3 i {
          margin: 0 1rem; }
  footer .cprofile_sec {
    width: 100%;
    display: flex;
    margin-bottom: 3rem; }
    footer .cprofile_sec .copy_right,
    footer .cprofile_sec .designed_by,
    footer .cprofile_sec .social {
      width: calc(100% / 3);
      display: grid;
      place-content: center; }
      footer .cprofile_sec .copy_right h4,
      footer .cprofile_sec .designed_by h4,
      footer .cprofile_sec .social h4 {
        font-family: 'Electrolize', sans-serif;
        color: #565353;
        font-size: 1.2rem; }
    footer .cprofile_sec .copy_right {
      order: 1; }
      footer .cprofile_sec .copy_right h4 {
        margin: 0 4rem 0 0; }
    footer .cprofile_sec .designed_by {
      order: 3; }
      footer .cprofile_sec .designed_by h4 {
        margin: 0 0 0 1rem; }
    footer .cprofile_sec .social {
      order: 2;
      display: flex;
      justify-content: center; }
      footer .cprofile_sec .social .icon {
        margin: 0 1rem; }
        footer .cprofile_sec .social .icon i {
          font-size: 2rem;
          color: #565353; }
  footer .footer_img {
    width: 100%; }
    footer .footer_img video {
      width: 100%; }

@media only screen and (max-width: 1290px) {
  footer .contact_address_1 .address h3,
  footer .contact_address_1 .contact h3,
  footer .contact_address_1 .blank h3 {
    font-size: 1.1rem; }
  footer .cprofile_sec .copy_right h4,
  footer .cprofile_sec .designed_by h4,
  footer .cprofile_sec .social h4 {
    font-size: 1rem; }

  .testimonials_con .customersrepeat .img_on_text img {
    max-width: 100%; } }
@media only screen and (max-width: 1150px) {
  .organisations_we_serve .org_slider .glide {
    width: 100%; }
    .organisations_we_serve .org_slider .glide .glide__track ul li {
      padding: 5px; }

  .testimonials_con .customersrepeat .img_on_text {
    width: 90%; }
    .testimonials_con .customersrepeat .img_on_text .text h2 {
      font-size: 8em;
      line-height: 1; }
    .testimonials_con .customersrepeat .img_on_text .text span {
      font-size: 2.5rem; }
  .testimonials_con .testimonial_slid .cards {
    margin-right: 28%; }
    .testimonials_con .testimonial_slid .cards .outer .card {
      max-width: 22rem; } }
@media only screen and (max-width: 1050px) {
  .heading {
    font-size: 3.5rem; }

  footer .contact_address_1 .address h3,
  footer .contact_address_1 .contact h3,
  footer .contact_address_1 .blank h3 {
    font-size: .9rem; }
  footer .cprofile_sec .copy_right h4,
  footer .cprofile_sec .designed_by h4,
  footer .cprofile_sec .social h4 {
    font-size: .8rem; }
  footer .cprofile_sec .social .icon i {
    font-size: 1.3rem; } }
@media only screen and (max-width: 900px) {
  .heading {
    font-size: 3rem; }

  .zev .numbers .our_exp h1 {
    font-size: 2.5rem; }
  .zev .numbers .our_exp p {
    font-size: 1.7rem; }

  .testimonials_con {
    flex-direction: column; }
    .testimonials_con .customersrepeat {
      width: 100%;
      justify-content: center; }
      .testimonials_con .customersrepeat .img_on_text {
        width: 90%; }
    .testimonials_con .testimonial_slid {
      width: 100%; }
      .testimonials_con .testimonial_slid .cards {
        margin-right: 10%; }
        .testimonials_con .testimonial_slid .cards .outer .card {
          max-width: 80%; } }
@media only screen and (max-width: 790px) {
  footer .contact_address_1 {
    display: none; }
  footer .contact_address_2 {
    display: block; }
    footer .contact_address_2 .cont {
      display: flex;
      justify-content: center; }
      footer .contact_address_2 .cont .add {
        width: fit-content; }
        footer .contact_address_2 .cont .add h3 {
          color: #7FA800;
          font-size: 1.3rem;
          font-family: 'Electrolize', sans-serif;
          margin-top: 1rem; }
          footer .contact_address_2 .cont .add h3 i {
            margin: 0 1rem; }
  footer .cprofile_sec {
    flex-direction: column;
    justify-content: center; }
    footer .cprofile_sec .copy_right,
    footer .cprofile_sec .designed_by,
    footer .cprofile_sec .social {
      width: calc(100%);
      display: flex;
      justify-content: center;
      margin-top: 1rem; }
      footer .cprofile_sec .copy_right h4,
      footer .cprofile_sec .designed_by h4,
      footer .cprofile_sec .social h4 {
        width: fit-content;
        font-size: 1.2rem; }
    footer .cprofile_sec .copy_right {
      order: 1; }
      footer .cprofile_sec .copy_right h4 {
        margin: auto; }
    footer .cprofile_sec .designed_by {
      order: 2; }
    footer .cprofile_sec .social {
      order: 3; } }
@media only screen and (max-width: 768px) {
  .zev .org_name .zev_name {
    font-size: 2.5rem; }
    .zev .org_name .zev_name span {
      font-size: 1.6rem; }
  .zev .mid_text {
    font-size: 5rem; }
  .zev .numbers .our_exp h1 {
    font-size: 2rem; }
  .zev .numbers .our_exp p {
    font-size: 1.5rem; }

  .Our_Services .services .service_image {
    width: 15rem; }
    .Our_Services .services .service_image .circle {
      margin: 1rem; }
  .Our_Services .services .img_and_name h4 {
    font-size: 1.2rem !important; } }
@media only screen and (max-width: 604px) {
  .heading {
    font-size: 2.5rem; }

  .zev .numbers .our_exp h1 {
    font-size: 1.5rem; }
  .zev .numbers .our_exp p {
    font-size: 1.2rem; } }
@media only screen and (max-width: 500px) {
  .heading {
    font-size: 2rem; }

  .zev .org_name .zev_name {
    font-size: 1.8rem; }
    .zev .org_name .zev_name span {
      font-size: 1.2rem; }
  .zev .mid_text {
    font-size: 3rem;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0); }
  .zev .numbers .our_exp {
    width: 100%; }
    .zev .numbers .our_exp h1 {
      font-size: 1.4rem; }
    .zev .numbers .our_exp p {
      font-size: 1rem; }

  .Our_Services .services .service_image {
    width: 12rem; }
  .Our_Services .services .img_and_name h4 {
    font-size: 1rem !important; }

  .testimonials_con .customersrepeat .img_on_text .text h2 {
    font-size: 5em;
    line-height: 1; }
  .testimonials_con .customersrepeat .img_on_text .text span {
    font-size: 2rem; }

  footer .contact_address_2 .cont .add h3 {
    font-size: 1rem; }
  footer .cprofile_sec .copy_right h4,
  footer .cprofile_sec .designed_by h4,
  footer .cprofile_sec .social h4 {
    font-size: .9rem; } }
@media only screen and (max-width: 405px) {
  .heading {
    font-size: 1.8rem; }

  .zev .org_name img {
    width: 3rem; }
  .zev .org_name .zev_name {
    font-size: 1.5rem; }
    .zev .org_name .zev_name span {
      font-size: 1.1rem; }
  .zev .mid_text {
    font-size: 2.5rem;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0); }
  .zev .numbers .our_exp {
    width: 100%; }
    .zev .numbers .our_exp h1 {
      font-size: 1.3rem; }
    .zev .numbers .our_exp p {
      font-size: .9rem; }

  .Our_Services .services .service_image {
    width: 10rem; }
    .Our_Services .services .service_image .circle {
      margin: .5rem; }
  .Our_Services .services .img_and_name h4 {
    font-size: .9rem !important; }

  .testimonials_con .customersrepeat .img_on_text .text h2 {
    font-size: 4em; }
  .testimonials_con .customersrepeat .img_on_text .text span {
    font-size: 1.5rem; }
  .testimonials_con .testimonial_slid .cards {
    height: 31rem; } }
@media (max-width: 467px) {
  /*Edited*/
  .card {
    font-size: 10px;
    padding: 0.5rem !important;
    margin: 0.5rem; }

  @keyframes animate {
    0% {
      opacity: 0;
      transform: translateY(100%) scale(0.8); }
    5%,
        20% {
      opacity: 0.4;
      transform: translateY(100%) translateX(0) scale(0.9); }
    25%,
        40% {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0%) translateX(2rem) scale(1); }
    45%,
        60% {
      opacity: 0.4;
      transform: translateY(-100%) translateX(0) scale(0.9); }
    65%,
        100% {
      opacity: 0;
      transform: translateY(-100%) scale(0.8); } } }
@media only screen and (max-width: 356px) {
  .heading {
    font-size: 1.5rem; }

  .testimonials_con .testimonial_slid .cards {
    height: 32rem; } }
@media only screen and (max-width: 375px) {
  .zev .numbers .our_exp h1 {
    font-size: 1.2rem; }
  .zev .numbers .our_exp p {
    font-size: .8rem; } }
@media only screen and (max-width: 343px) {
  .testimonials_con .testimonial_slid .cards {
    height: 34rem; } }
.bt {
  /*Battery 1*/ }
  .bt .battery-wrapper1 {
    margin: 0px calc(50% - 6.2rem);
    width: 4rem;
    height: 4rem; }
    .bt .battery-wrapper1:hover {
      cursor: pointer; }
    .bt .battery-wrapper1 .battery-part-big {
      width: 200px;
      height: 3.5rem;
      border: 4px solid #565353;
      border-radius: 3px;
      border-radius: .5rem;
      position: relative; }
      .bt .battery-wrapper1 .battery-part-big .battery-part-small {
        width: 12px;
        height: 25px;
        background: #565353;
        border-radius: 0 3px 3px 0;
        position: absolute;
        right: -12px;
        top: 50%;
        transform: translate(0, -50%); }
      .bt .battery-wrapper1 .battery-part-big .text {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translate(6%, -50%);
        font-size: 1.6rem;
        font-weight: 900;
        font-family: electrolize; }
      .bt .battery-wrapper1 .battery-part-big .battery-power {
        width: calc(100% / 6 - 10px);
        height: 2.5rem;
        margin: .25rem 0 0 .3rem;
        display: inline-block; }
      .bt .battery-wrapper1 .battery-part-big .battery-power-1,
      .bt .battery-wrapper1 .battery-part-big .battery-power-2,
      .bt .battery-wrapper1 .battery-part-big .battery-power-3,
      .bt .battery-wrapper1 .battery-part-big .battery-power-4,
      .bt .battery-wrapper1 .battery-part-big .battery-power-5,
      .bt .battery-wrapper1 .battery-part-big .battery-power-6 {
        opacity: 0;
        background: #e6e6e6;
        border-radius: 3px; }
      .bt .battery-wrapper1 .battery-part-big .battery-power-1 {
        animation: battery-power-1 4s 0s infinite; }
      .bt .battery-wrapper1 .battery-part-big .battery-power-2 {
        animation: battery-power-2 4s 0s infinite; }
      .bt .battery-wrapper1 .battery-part-big .battery-power-3 {
        animation: battery-power-3 4s 0s infinite; }
      .bt .battery-wrapper1 .battery-part-big .battery-power-4 {
        animation: battery-power-4 4s 0s infinite; }
      .bt .battery-wrapper1 .battery-part-big .battery-power-5 {
        animation: battery-power-5 4s 0s infinite; }
      .bt .battery-wrapper1 .battery-part-big .battery-power-6 {
        animation: battery-power-6 4s 0s infinite; }
@keyframes battery-power-1 {
  0% {
    opacity: 0; }
  16% {
    opacity: 1; }
  33% {
    opacity: 1; }
  50% {
    opacity: 1; }
  66% {
    opacity: 1; }
  83% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes battery-power-2 {
  0% {
    opacity: 0; }
  16% {
    opacity: 0; }
  33% {
    opacity: 1; }
  50% {
    opacity: 1; }
  66% {
    opacity: 1; }
  83% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes battery-power-3 {
  0% {
    opacity: 0; }
  16% {
    opacity: 0; }
  33% {
    opacity: 0; }
  50% {
    opacity: 1; }
  66% {
    opacity: 1; }
  83% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes battery-power-4 {
  0% {
    opacity: 0; }
  16% {
    opacity: 0; }
  33% {
    opacity: 0; }
  50% {
    opacity: 0; }
  66% {
    opacity: 1; }
  83% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes battery-power-5 {
  0% {
    opacity: 0; }
  16% {
    opacity: 0; }
  33% {
    opacity: 0; }
  50% {
    opacity: 0; }
  66% {
    opacity: 0; }
  83% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@keyframes battery-power-6 {
  0% {
    opacity: 0; }
  16% {
    opacity: 0; }
  33% {
    opacity: 0; }
  50% {
    opacity: 0; }
  66% {
    opacity: 0; }
  83% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
